<%= link_to destroy_admin_session_path, :method => :delete, class: 'dropdown-item' do %>
   Logout
<% end %>
<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Pending Transactions
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm roles_seperator table-striped">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Asset</th>
          <th scope="col" width="40%" >Action</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction|%>
          <tr>
            <td>
              <%= transaction.txnref %><br>
            </td>
            <td>
              <%= transaction.type %>
            </td>
            <td>
              <%= transaction.amount %>
            </td>
            <td>
              <%= transaction.asset.name %>
            </td>
            <td>
              <%= link_to "Approve", admins_transaction_path(transaction, transaction: {status: 'approved'}), method: :put %>
              <%= link_to "Reject", admins_transaction_path(transaction, transaction: {status: 'rejected'}), method: :put %>
            </td>

          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
