<!DOCTYPE html>
<html>
  <head>
    <title>Hellogoldtest Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admins/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admins/admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# if current_admin.present? %>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <%= yield %>
        </div>
      </div>
    <%# end %>
  </body>
</html>
